section {
  background:
  linear-gradient(rgba(13,15,20,.85), rgba(13,15,20,.95)),
  url('/imgs/gym-banner.jpg');

  background-size: cover;
  background-position: center;
  min-height: 65vh;
}

/* 📱 Media query para pantallas medianas (<=1080px) */
@media (max-width: 1080px) {
  .carousel-item {
    height: 85vh;
  }
}

/* 📱 Media query para pantallas pequeñas (<=720px) */
@media (max-width: 720px) {
  .carousel-item {
    height: 65vh;
  }
}

/* Imagen móvil con fondo oscuro */
.mobile-banner {
  background-color: #1A1A1A;
  height: 50vh; /* Igual que el carrusel en móviles */
  display: none;
  position: relative;
  overflow: hidden;
}

/* Imagen ajustada al centro, pero más abajo */
.mobile-image {
  position: absolute;
  top: 60%; /* Un poco más abajo del centro */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

/* Mostrar imagen en móvil */
@media (max-width: 720px) {
  .mobile-banner {
    display: block;
  }

  .desktop-carousel {
    display: none;
  }
}
