<section class="hero d-flex align-items-center text-center text-white">
  <div class="hero-overlay"></div>
  
  <div class="container position-relative" style="z-index: 2;">
    

    <!-- Título -->
    <h1 class="display-4 fw-bold mb-3" data-aos="fade-up">
      Equípate para tu 
      <span class="gradient-text">mejor entrenamiento</span>
    </h1>

    <!-- Subtítulo -->
    <p class="lead mb-4" data-aos="fade-up" data-aos-delay="100">
      Ropa y accesorios deportivos diseñados para rendimiento y estilo.
    </p>

    <!-- Botones -->
    <div class="hero-buttons" data-aos="fade-up" data-aos-delay="200">
      <a href="/catalog" class="btn-primary">
        <i class=" me-2"></i>
        Ver Catálogo
        <span class="btn-arrow">→</span>
      </a>
    
    </div>
  </div>
</section>