<section class="section-background">
  <div class="container text-center text-white">
    <h2 data-aos="fade-down" class="section-title">Estadísticas</h2>

    <div class="row justify-content-center g-5">

      <!-- Productos -->
      <div class="col-md-4">
        <div class="item">
          <img
            data-aos="fade-down"
            src="imgs/shopping-bag-svgrepo-com.svg"
            alt="productos"
            class="icon-hover"
            width="90"
            height="90">

          <p data-aos="fade-up">
            <strong>+3,500</strong><br>
            Productos deportivos vendidos
          </p>
        </div>
      </div>

      <!-- Categorías -->
      <div class="col-md-4">
        <div class="item">
          <img
            data-aos="fade-down"
            src="imgs/sport-svgrepo-com.svg"
            alt="categorias"
            class="icon-hover"
            width="90"
            height="90">

          <p data-aos="fade-up">
            <strong>2</strong><br>
            Categorías disponibles
          </p>
        </div>
      </div>

      <!-- Clientes -->
      <div class="col-md-4">
        <div class="item">
          <img
            data-aos="fade-down"
            src="imgs/user-plus-svgrepo-com.svg"
            alt="clientes"
            class="icon-hover"
            width="90"
            height="90">

          <p data-aos="fade-up">
            <strong>+1,200</strong><br>
            Clientes satisfechos
          </p>
        </div>
      </div>

    </div>
  </div>
</section>